POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

TOKEN_INTERNAL_SERVICE=
TOKEN_TRANSACTION_SERVICE=
TOKEN_NOTIFICATION_SERVICE=

TRANSACTION_SERVICE_ENDPOINT=

JWT_SECRET_KEY=
JWT_TTL=
