<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>service</includeMdcKeyName>
            <includeMdcKeyName>method</includeMdcKeyName>
            <includeMdcKeyName>endpoint</includeMdcKeyName>
            <includeMdcKeyName>status</includeMdcKeyName>
            <includeMdcKeyName>duration_ms</includeMdcKeyName>
        </encoder>
    </appender>

    <property name="service.name" value="user-service"/>

    <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
        <MDCKey>service</MDCKey>
        <Value>${service.name}</Value>
    </turboFilter>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
